<body>
<div class="row">
    <header>
        <a href="/skills">
            <button class="btn btn-success">skills</button>
        </a>
        <a href="/tasks">
            <button class="btn btn-danger">Task</button>
        </a>
    </header>
</div>
<div class="container">

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="author-container">
                        <h1>Moonlight</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Recent Post</th>
                        <th>Reviews</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr id="form-row">
                            <form id="author-form">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="author-name" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Search</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    </d>
    <!-- Custom Script -->
    <script src="js/author.js" type="text/javascript"></script>

</body>