
<link rel='stylesheet' href='assets/css/style.css' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
<center>
    <div id="mainLogo">
        <img src="/assets/images/index logo.png"style="width: 100%;">
    </div>
</center>

<center>
    <div class="mainBox">
        <div id="catImg">
            <img src="/assets/images/index categories.png"style="width: 100%;">
        </div>

    <div class="inline-block">
         
    {{!-- <a class="btn btn-primary btn-lg" href="/tasks">Tasks</a> --}}
  <a class="btn btn-primary btn-lg" href="/tasks" id="main-button"style ="width: 40%;">TASKS</a>
  
   <a class="btn btn-primary btn-lg"href="/skills"id="main-button"style ="width: 40%;">SKILLS</a>
    </div>
    
    </div>
</center>




