<!--<h1>skillTrade</h1>-->

<!--<h2>Skills</h2>-->
<!--<a href="/skills"><button>Skills</button></a>-->

<!--<h3>Task</h3>-->
<!--<a href="/tasks"><button>Tasks</button></a>-->

<div class="container">
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/skills">Skills</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/tasks">Tasks</a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-8 float-left">
            <div class="SkillTrade-container">
                <h1>SkillTrade</h1>
                <br>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Front End</th>
                        <th>Graphic Design</th>
                        <th>UI</th>
                        <th>UX</th>
                        <th>Back End</th>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>


© 2018 GitHub, Inc.