<div>

    <h2>Needs</h2>
    <ul>
        {{#each needs}}
            {{>needs/need-block}}
        {{/each}}
    </ul>

</div>

<h1></h1>

<button>Submit Want</button>


<h2>Add a Need</h2>
<form class="create-form">

    <div class="form-group">
        <label for="Need">Post:</label>
        <input type="text" id="skill" name="name">
    </div>

    <h2></h2>
    <button>Post Need</button>
</form>

<h3></h3>
<a href="/"><button>Main Page</button></a> <a href="/wants"><button>Want</button></a>
