<div class="container col-sm-10">
    {{!-- <div class="row"> --}}
        {{!-- <header> --}}
            <a href="/">
                <img id="cornerLogo" src="./assets/images/corner_logo.png" alt="skillTrade" style="width: 20%;"/>
            </a>
            <a href="/tasks">
                <button id="nav">TASKS</button>
            </a>
        {{!-- </header> --}}
    {{!-- </div> --}}

    <br>


    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h1 id="modalName"></h1>
                </div>
                <!-- Body -->
                <div class="modal-body">
                    <h2 id="modalCategory"></h2>
                    <h2 id="modalTitle"></h2>
                    <h3 id="modalSkill"></h3>
                    <h3 id="modalLocation"></h3>
                    <h3 id="modalEmail"></h3>
                    <h3 id="modalCompensation"></h3>
                </div>

                <!-- Footer -->
                <div class="modal-footer modal-footer--mine">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 float-right">
            <div class="card">

                <h2 class="card-header text-center">Skills</h2>
                <div class="card-body">
                    <div class="card">
                        {{#each skills}}
                            {{>skills/skill-block}}
                        {{/each}}
                    </div>
                </div>


        <div class="col-sm-10">
            <header>
                <a href="/">
                    <button>Home</button>

                </a>
                <a href="/tasks">
                    <button>Tasks</button>
                </a>
            </header>
        </div>

        <div class="input-group mb-3"></div>

    </div>


</div>

<br>

<div class="container">

<div class="row">
    <div class="col-sm-8 float-left">
        <div class="card">

            <h2 class="card-header text-center">OUR SKILLS</h2>
            <input type="text" class="form-control" id="search" placeholder="Search">
            <div class="btn-group" role="group">
                <button type="button" id="all" class="btn btn-success filterButton">All</button>
                <button type="button" id="Graphic-Design" class="btn btn-success filterButton">Graphic
                    Design
                </button>
                <button type="button" id="UI" class="btn btn-success filterButton">UI</button>
                <button type="button" id="UX" class="btn btn-success filterButton">UX</button>
                <button type="button" id="Front-end" class="btn btn-success filterButton">Front End</button>
                <button type="button" id="Back-end" class="btn btn-success filterButton">Back End</button>

            </div>

        </div>



                    <div class="form-group">
                        <label for="skillCategory">Category</label>

                        <select class="form-control" id="skillCategory" required>
                            <option selected disabled>Category</option>
                            <option value="UI">UI</option>
                            <option value="Graphic-Design">Graphic Design</option>
                            <option value="UX">UX</option>
                            <option value="Front-end">Front End</option>
                            <option value="Back-end">Back End</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="skillTitle">Title</label>
                        <textarea class="form-control" id="skillTitle" placeholder="Current job title" required></textarea>

                    </div>

                    <div class="form-group">
                    <label for="skillCompensation">Compensation</label>
                    <input type="text" class="form-control" id="skillCompensation" placeholder="how would you like to receive payment" required>
                    </div>

                    <div class="form-group">
                        <label for="skillLocation">Location</label>
                        <input type="text" class="form-control" id="skillLocation" placeholder="how would you like to receive payment" required>
                    </div>

                    <div class="form-group">
                        <label for="skillsDescription">Description</label>
                        <textarea class="form-control" id="skillDescription" rows="3" placeholder="Describe your Skill and level of exp."
                                  required></textarea>

                    </div>

                    <button id="addSkill" type="submit" class="btn btn-primary">Submit</button>
                </form>

                </div>


            </div>

        </div>
    </div>

</div>
