<div class="container col-sm-10">
    <div class="row">
        <header>
            <a href="/">
                <button>Main Page</button>
            </a>
            <a href="/tasks">
                <button>Tasks</button>
            </a>
        </header>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-8 float-left">
            <div class="card">

                <h2 class="card-header text-center">OUR SKILLS</h2>
                <div class="card-body">
                        {{#each skills}}
                            {{>skills/skill-block}}
                        {{/each}}
                </div>

            </div>

        </div>


        <div class="col-sm-4 float-right">
            <div class="card">
                <h2 class="card-header">Join our Team</h2>
                <div class="card-body">
                    <form id="skillForm">
                        <div class="form-group">
                            <label for="skillName">Name</label>
                            <input type="text" class="form-control" id="skillName" placeholder="Name" required>
                        </div>

                        <div class="form-group">

                            <label for="skillEmail">Email address</label>
                            <input type="email" class="form-control" id="skillEmail" aria-describedby="emailHelp"
                                   placeholder="email@email.com" required>
                        </div>

                        <div class="form-group">
                            <label for="skill">Skill</label>
                            <input type="text" class="form-control" id="skill"
                                   placeholder="Your skills to Offer"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="skillCategory">Category</label>

                            <select class="form-control" id="skillCategory" required>
                                <option selected disabled>Category</option>
                                <option value="UI-UX">UI/UX</option>
                                <option value="graphic-design">Graphic Design</option>
                                <option value="photography-videography">Photography/Videography</option>
                                <option value="front-end">Front End</option>
                                <option value="back-end">Back End</option>
                            </select>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="skillLocation">Location</label>-->
                            <!--<input type="text" class="form-control" id="skillLocation" placeholder="Location" required>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label for="skillsDescription">Description</label>
                            <textarea class="form-control" id="skillDescription" rows="5" placeholder="Level of Expertise" required></textarea>

                        </div>
                        <button id = "addSkill" type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>
