<div>
    <h2>Wants</h2>
    <ul>
        {{#each wants}}
            {{>wants/want-block}}
        {{/each}}
    </ul>


</div>

<h1></h1>


<h2>Add a Skill</h2>
<form class="create-form">

    <div class="form-group">
        <label for="skill">Skill:</label>
        <input type="text" id="skill" name="name">
    </div>

    <h2></h2>
    <button>Submit</button>
</form>

    <h3></h3>
    <a href="/"><button>Main Page</button></a>  <a href="/needs"><button>Task</button></a>