body {
    background: dodgerblue;
}

h2.card-header{
    color: red;
    text-align: center;
}

h2.card-header.text-center {
    color: yellow;
    font-weight: bolder;
}

h3.card-header{
    color: darkblue;
}

button{
    color: black;
    font-weight: bold;
}