<ul class="list" style="list-style: none;">
    <li>
        <h3 class="card-header name">{{name}}</h3>

        <div class="card-body list">
            <p class ='title'>{{title}}</p>
            <p class="category">{{category}}</p>


        </div>
    </li>

</ul>